In [ ]:
import numpy as np
from datascience import * # Brings into Python the datascience Table object
import warnings
warnings.filterwarnings('ignore')

### Learning from Lab 00/01
Working with Jupyter Notebooks
- Expressions
- Variables & upcoming Data Types
    - Strings
    - Integer
    - Float
- built-in functions: print("Hello World")
- Kernel
- errors
- check work with check('tests/q2_1.py')
- Shortcuts

In [ ]:
print("Welcome \N{EARTH GLOBE ASIA-AUSTRALIA}!")

## Upcoming Learning Goals from Lab 02
Data Types: See video of same name
- Expressions & numbers revisited
- Variables & Data Types
    - Strings
    - Integer
    - Float
- more built-in functions: max(), min(), abs(), pow(), round()
- Translating science into Python formulas: Newton's equations
- importing code functionality: import math
    - math.pi()
    - math.sqrt()
    - math.log()
    - math.factorial()
- arrays: from datascience import *
    - make_array(0.125, 4.75, -1.3)
- arrays: import numpy as np
    - np.array([0, 1, -1, math.pi, math.e])
- lists: [1, 2, 3, 4]

In [ ]:
maximum_number=max(3,4.4)
maximum_number

In [ ]:
import math
radius = 4
area_of_circle = math.pi * radius**2 
print(area_of_circle)

In [ ]:
math.e

In [ ]:
area_of_circle = radius**2 * math.pi

In [ ]:
area_of_circle

## Parenthesis ()
In standard math notation, the first expression below is

$$9 + 6 \times 5 - 6 \times 3^2 \times \frac{2^3}{4} \times 7,$$

while the second expression below is

$$9 + (6 \times 5 - (6 \times 3))^2 \times (\frac{(2^3)}{4} \times 7).$$

<font color=green>Different values!

In [ ]:
9+6*5-6*3**2*2**3/4*7

In [ ]:
9+(6*5-(6*3))**2*((2**3)/4*7)

### Fun
It is still hot out!

In [ ]:
!pip install meteostat

In [ ]:
# Import Meteostat library and dependencies
from datetime import datetime
%matplotlib inline
import matplotlib.pyplot as plt
from meteostat import Point, Daily

In [ ]:
# Set time period
start = datetime(2024, 1, 1)
end = datetime(2024, 12, 31)
# Create Point for Vancouver, BC
location = Point(49.2497, -123.1193, 70) # latitude, longitude, altitude

In [ ]:
# Get daily data for 2024
data = Daily(location, start, end)
data = data.fetch()

# Plot line chart including average, minimum and maximum temperature
data.plot(y=['tavg', 'tmin', 'tmax'])
plt.show()

In [ ]:
# Set time period
start = datetime(2024, 1, 1)
end = datetime(2024, 1, 24)
# Create Point for Philadelphia? 39.981, -75.153
location = Point(39.981, -75.153, 10)

In [ ]:
# Get daily data for 2024
data = Daily(location, start, end)
data = data.fetch()

# Plot line chart including average, minimum and maximum temperature
data.plot(y=['tavg', 'tmin', 'tmax'])
plt.show()

In [ ]:
# Get daily data for 2021
start = datetime(1940, 1, 1)
end = datetime(2024, 1, 18)
data = Daily(location, start, end)
data = data.fetch()

# Plot line chart including average, minimum and maximum temperature
data.plot(y=['tavg', 'tmin', 'tmax'])
plt.show()

In [ ]:
data.plot(y=['snow'])

In [ ]:
import pandas as pd

In [ ]:
data.index = pd.to_datetime(data.index)

In [ ]:
data.groupby(data.index.year)['snow'].sum()/25.4

In [ ]:
# Mount Pocono
location = Point(41.122, -75.3646, 70) # latitude, longitude, altitude

In [ ]:
# Create Point for Philadelphia? 39.981, -75.153
location = Point(39.981, -75.153, 10)

In [ ]:
start = datetime(1940, 1, 1)
end = datetime(2024, 1, 18)
data = Daily(location, start, end)
data = data.fetch()
snow = data.groupby(data.index.year)['snow'].sum()/25.4

In [ ]:
snow.plot(y='snow')
plt.xlabel('Year')
plt.ylabel('Annual Snowfall [inch]')

In [ ]:
snow.mean()

In [ ]:
type(snow)

In [ ]:
plt.scatter(snow.index, snow)